
    - name: Install Apache
      yum:
        name: httpd
        state: present

    - name: Enable apache on reboot and start
      service:
        name: httpd
        enabled: yes
        state: started

    - name: Deploy the project on apache
      copy:
        dest: /var/www/html/index.html
        content: |
        <h1> Deployed by Ansible Tower </h1>

    - name: Restart Apache
      service:
        name: httpd
        state: restarted

